In [2]:
# Import necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Load the dataset
df = pd.read_csv('../dataset/product_data_clean.csv')

# Explore the dataset
print(df.head())
print(df.info())
print(df.describe())

  cod_modelo_color cod_color_code des_color_specification_esp  \
0      41085800-02             02                    OFFWHITE
1      53000586-TO             TO               TEJANO OSCURO
2      53030601-81             81                 ROSA PASTEL
3      53050730-15             15                     MOSTAZA
4      53070773-70             70                        ROJO

  des_agrup_color_eng des_sex des_age des_line des_fabric  \
0               WHITE  Female   Adult      SHE    P-PLANA
1                BLUE  Female   Adult      SHE    J-JEANS
2                PINK  Female   Adult      SHE    P-PLANA
3              YELLOW  Female   Adult      SHE    P-PLANA
4                 RED  Female   Adult      SHE    P-PLANA

                  des_product_category des_product_aggregated_family  \
0                              Bottoms           Trousers & leggings
1                              Bottoms                         Jeans
2  Dresses, jumpsuits and Complete set         Dresses and jumpsuits
3  Dresses, jumpsuits and Complete set         Dresses and jumpsuits
4                                 Tops                        Shirts

  des_product_family des_product_type                          des_filename
0           Trousers         Trousers  datathon/images/2019_41085800_02.jpg
1              Jeans            Jeans  datathon/images/2019_53000586_TO.jpg
2            Dresses            Dress  datathon/images/2019_53030601_81.jpg
3            Dresses            Dress  datathon/images/2019_53050730_15.jpg
4              Shirt            Shirt  datathon/images/2019_53070773_70.jpg
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9222 entries, 0 to 9221
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cod_modelo_color               9222 non-null   object
 1   cod_color_code                 9222 non-null   object
 2   des_color_specification_esp    9222 non-null   object
 3   des_agrup_color_eng            9222 non-null   object
 4   des_sex                        9222 non-null   object
 5   des_age                        9222 non-null   object
 6   des_line                       9222 non-null   object
 7   des_fabric                     9222 non-null   object
 8   des_product_category           9222 non-null   object
 9   des_product_aggregated_family  9222 non-null   object
 10  des_product_family             9222 non-null   object
 11  des_product_type               9222 non-null   object
 12  des_filename                   9222 non-null   object
dtypes: object(13)
memory usage: 936.7+ KB
None
       cod_modelo_color cod_color_code des_color_specification_esp  \
count              9222           9222                        9222
unique             9222            110                         110
top         41085800-02             99                       NEGRO
freq                  1           2119                        2119

       des_agrup_color_eng des_sex des_age des_line des_fabric  \
count                 9222    9222    9222     9222       9222
unique                  10       3       2        5          7
top                   GREY  Female   Adult      SHE    P-PLANA
freq                  2907    9170    9203     9144       3041

       des_product_category des_product_aggregated_family des_product_family  \
count                  9222                          9222               9222
unique                    7                            16                 39
top                    Tops                   Accessories            Dresses
freq                   2768                          2466               1189

       des_product_type                          des_filename
count              9222                                  9222
unique              123                                  9222
top               Dress  datathon/images/2019_41085800_02.jpg
freq               1188                                     1

In [4]:
# Check for missing values
print(df.isnull().sum())

cod_modelo_color                 0
cod_color_code                   0
des_color_specification_esp      0
des_agrup_color_eng              0
des_sex                          0
des_age                          0
des_line                         0
des_fabric                       0
des_product_category             0
des_product_aggregated_family    0
des_product_family               0
des_product_type                 0
des_filename                     0
dtype: int64

In [5]:
#Visualize the dataset
print("Product Category\n")
print(df['des_product_category'].value_counts())

Product Category

Tops                                   2768
Accesories, Swim and Intimate          2633
Bottoms                                1631
Dresses, jumpsuits and Complete set    1374
Outerwear                               725
Home                                     61
Beauty                                   30
Name: des_product_category, dtype: int64

In [6]:
print("Product Family\n")
print(df['des_product_family'].value_counts())

Product Family

Dresses                     1189
Shirt                        679
Sweater                      662
T-shirt                      629
Trousers                     614
Bags                         602
Jewellery                    592
Tops                         544
Footwear                     494
Skirts                       476
Jeans                        344
Hats, scarves and gloves     272
Jackets                      210
Jumpsuit                     185
Wallets & cases              183
Coats                        171
Cardigans                    162
Belts and Ties               160
Shorts                       156
Blazers                      147
Glasses                      139
Intimate                     135
Puffer coats                  73
Sweatshirts                   56
Swimwear                      45
Vest                          44
Trenchcoats                   42
Leggings and joggers          41
Fragances                     30
Bodysuits                     28
Gadgets                       22
Leather jackets               17
Deco Textiles                 17
Bedding                       17
Outer Vest                    13
Deco Accessories              12
Poloshirts                     8
Parkas                         8
Glassware                      4
Name: des_product_family, dtype: int64

In [7]:
print("\nProduct Type\n")
print(df['des_product_type'].value_counts())

Product Type

Dress         1188
Sweater        649
T-Shirt        629
Trousers       614
Top            544
              ...
Pichi            1
Box              1
Skort            1
Home Spray       1
Clogs            1
Name: des_product_type, Length: 123, dtype: int64

In [8]:
print("\nProduct Aggregated Family\n")
print(df['des_product_aggregated_family'].value_counts())

Product Aggregated Family

Accessories               2466
Dresses and jumpsuits     1374
Sweaters and Cardigans     880
Shirts                     679
T-shirts                   665
Trousers & leggings        655
Skirts and shorts          632
Tops                       544
Jackets and Blazers        418
Jeans                      344
Coats and Parkas           307
Swim and intimate          178
Fragance                    30
Decor                       29
Bedroom                     17
Dinning Room                 4
Name: des_product_aggregated_family, dtype: int64

In [9]:
print("\nProduct Fabric\n")
print(df['des_fabric'].value_counts())

Product Fabric

P-PLANA           3041
C-COMPLEMENTOS    2569
K-CIRCULAR        1564
T-TRICOT          1274
J-JEANS            606
O-POLIPIEL          97
L-PIEL              71
Name: des_fabric, dtype: int64

In [10]:
print("\nProduct Line\n")
print(df['des_line'].value_counts())

Product Line

SHE        9144
HOME         50
KIDS         19
VIOLETA       7
HE            2
Name: des_line, dtype: int64

In [11]:
print("\nProduct Age\n")
print(df['des_age'].value_counts())

Product Age

Adult    9203
Kids       19
Name: des_age, dtype: int64

In [12]:
print("\nProduct Sex\n")
print(df['des_sex'].value_counts())

Product Sex

Female    9170
Unisex      50
Male         2
Name: des_sex, dtype: int64

In [13]:
print("\nProduct Aggregate Color\n")
print(df['des_agrup_color_eng'].value_counts())

Product Aggregate Color

GREY      2907
WHITE     2798
BLUE       949
BROWN      761
PINK       423
RED        399
GREEN      392
YELLOW     288
ORANGE     205
PURPLE     100
Name: des_agrup_color_eng, dtype: int64

In [14]:
print("\nProduct Aggregate Color Spanish\n")
print(df['des_color_specification_esp'].value_counts())

Product Aggregate Color Spanish

NEGRO                2119
CRUDO                 608
OFFWHITE              563
ORO                   445
BLANCO                426
                     ...
TEJANO GRIS CLARO       1
CIRUELA                 1
CENIZA                  1
BLOOD                   1
ASFALTO                 1
Name: des_color_specification_esp, Length: 110, dtype: int64

In [15]:
print("\nProduct Color Code\n")
print(df['cod_color_code'].value_counts())

Product Color Code

99    2119
05     608
02     563
OR     445
01     426
      ...
TL       1
66       1
93       1
73       1
97       1
Name: cod_color_code, Length: 110, dtype: int64

In [17]:
# check duplicates
print(df.duplicated(subset=['des_filename']).sum())

0